/* This includes some overall website css
  Some of the CSS include:
    Ant Design Layout css
    Logo css
    Load symbol CSS
    Profile CSS
    React Animation/Transition css
    About API Button css
*/
/* App CSS (Overall Website CSS) */
.App {
  text-align: center;
}

/* Ant Design Layout CSS */
.ant-layout-header, .ant-layout-content, .site-layout {
  padding: 0 !important;
}

/* Logo CSS */
.App-logo {
  height: 3rem;
  pointer-events: pointer;
  display: inline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* About Page API Button CSS */
#apiBtn{
  margin: auto;
}

/* Profile Image CSS */
#profileImg{
  margin: auto;
  text-align: center;
}

/* Loading CSS */
.load{
  height: 100vh;
}

/* Used this Tutorial https://www.youtube.com/watch?v=NUQkajBdnmQ , https://github.com/Ihatetomatoes/react-router-page-transition-css */
/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}