/*Includes CSS fro CastView component*/

/* Cast View layout CSS */
#cast-view{
    border-radius: 10px;
    background: #f0f0f0;
    padding: 1em;
}

/*Cast View Information CSS*/
#cast-view-info{
    background: #f5f5f5;
}
#cast-view-info {
    margin: 0.5em;
    padding: 1em;
}

/*Cast View Close Button CSS*/
#cast-view-info button{
    float: right;
}

/*Cast View Biography CSS*/
#cast-view-info #biography{
    height: 20em;
    padding: 2em;
    overflow: auto;
    background: white;
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Cast View Image CSS*/
#cast-view #cast-view-photo{
    text-align: center;
}
#cast-image{
    padding: 0 2em;
}