/*Favorites List CSS*/
#favList{
    display: flex;
    flex-flow: row wrap;
    padding: 0.1em 0.7em;
    align-content: center;
}

/*When Favorites is empty css*/
#empty{
    margin: auto;
    text-align: center;
}