#filterBtn{
    margin: 1em;
}

#filterForm{
    margin-top: 1em;
}

.filterTitle input
{
    width: 80%;
    /* margin: 10px; */
    height: 30px;
}

.yearBox div, .ratingBox div{
    /* background: pink;  */
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    margin-left: 1em;
    margin-right: 1em;
}

.yearBox div *, .ratingBox div *{
    margin: 0.3em;
}
