/*Movie Details CSS*/
#movie-details{
    margin: 1em 4em 2em 4em;
    background-color: white;
    padding: 1em;
}
.site-layout{
    background-color: #fff0f1;
}

#details{
    padding-right:1em;
}

.detailsCol{
    padding: 1em;
}

/*Image CSS*/
#modalPoster{
    text-align: center;
    margin: auto;
    width: 100%;
}
#poster{
    text-align: center;
}

/*Movie Detail CSS*/
#details-details{
    padding: 0 1em;
    padding-top: 4em;
}
#detailsD button{
    float: right;
}
#tags{
    padding: 1em;
}
#company, #country, #keyword, #genre{
    margin-top: 0.6em;
}
h4{
    margin-bottom: 0 !important;
}
#close{
    margin: 1em 1em 0em 0em;
}

/*Cast/Crew Tab CSS*/
#tabs{
    margin: 0em 1em;
}
.tab-list{
    list-style: none;
    display: block;
    overflow: auto;
    height: 50vh;
    padding-top: 1em;
}

/*Media Query*/
@media only screen and (max-width: 1200px){
    #movie-details{
        display: block;
        margin: 1em;
    }
}
@media only screen and (max-width: 800px){
    #movie-details-column-1 h1{
        margin: 0;
        padding: 1em;
    }
    #detailsD{
        text-align: center;
    }
    #detailsD button{
        float: none;
    }
    #details-details{
        padding: 1em;
    }
    #poster{
        position: relative;
        max-width: 100%;
        min-height: 1px;
    }
}