.FiltersWithMovie{
    display: grid;
    grid-template-columns: 7fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    background-color: #fff0f1;
}

.MovieList{
    margin: 1em 4em 2em 4em;
    padding-top: 1em;
    background-color: white;
}

#movieTitle{
    text-align: center;
}

.listBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    height: 100vh;
    overflow: auto;
    padding-left: 5em;
}

@media only screen and (max-width: 1250px){
    .listBox
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px){
    .listBox
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 800px){
    .listBox{
        text-align: center;
        display: block;
        padding: 0;
    }
    .movies{
        padding-top: 0.5em;
    }
    .MovieList{
        padding:0;
    }
    #cardList{
        margin: 1em auto;
    }
}

