<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Login</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   <body>
      <header class="">
         <nav class="navbar is-primary" role="navigation" aria-label="main navigation" >
         </nav>
      </header>
      <section class="section">
         <%- body %>
      </section>
   </body>
</html>